<div class="container-fluid">
  <div class="alert alert-warning" role="alert">
    <h2>There isn't any Auth and Update Operation implemented yet !!!</h2>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Global States</mat-card-title>
        <mat-card-content>
          <div class="alert alert-primary" role="alert">
            <h3>Fiware-Serice : 'cattlechain' </h3> 
          <h3>Fiware-ServicePath : '/CattleChainService' </h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>IoT Agent Status</mat-card-title>
        <mat-card-content>
          <div *ngIf="iotAgentStatus; else noStatus" class="alert alert-success" role="alert">
            <p>libVersion : {{iotAgentStatus.libVersion}}</p>
            <p>port: {{iotAgentStatus.port}}</p>
            <p>baseRoot: {{iotAgentStatus.baseRoot}}</p>
            <p>version: {{iotAgentStatus.version}}</p>
            <h3> Accuator Port : 7896</h3>
          </div>
          <ng-template #noStatus>
            <div class="alert alert-danger" role="alert">
             <p>Error: Not Working</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card >
        <mat-card-title>IOT Agent Sevice Status</mat-card-title>
        <mat-card-content>
          <div *ngIf="count; else noIot" class="alert alert-success" role="alert">
            <p>id : {{iotAgentServiceGroup[0]._id}}</p>
            <p>resource: {{iotAgentServiceGroup[0].resource}}</p>
            <p>apikey: {{iotAgentServiceGroup[0].apikey}}</p>
            <p>service: {{iotAgentServiceGroup[0].service}}</p>
            <p>subservice: {{iotAgentServiceGroup[0].subservice}}</p>
            <p>entity_type: {{iotAgentServiceGroup[0].entity_type}}</p>
          </div>
          <ng-template #noIot>
            <div class="alert alert-danger" role="alert">
             <p>No Service Exist</p>
             <button type="button" class="btn btn-primary" (click)="createService()">Create Demo Service</button>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div> -->
    <!-- <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Context Broker</mat-card-title>
        <mat-card-content>
          <div *ngIf="contextStatus; else noBroker" class="alert alert-success" role="alert">
            <p>version : {{contextStatus.version}}</p>
            <p>uptime : {{contextStatus.uptime}}</p>
            <p>compile_time : {{contextStatus.compile_time}}</p>
            <p>compiled_in : {{contextStatus.compiled_in}}</p>
            <p>release_date : {{contextStatus.release_date}}</p>
            <p>doc : {{contextStatus.doc}}</p>
          </div>
          <ng-template #noBroker>
            <div class="alert alert-danger" role="alert">
             <p>Service Error or doesn't exist</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Cygnus (mongo)</mat-card-title>
        <mat-card-content>
          <div *ngIf="cygnusStatus; else noCygnus" class="alert alert-success" role="alert">
            <p>success : {{cygnusStatus.success}}</p>
            <p>version : {{cygnusStatus.version}}</p>
          </div>
          <ng-template #noCygnus>
            <div class="alert alert-danger" role="alert">
             <p>Service Error or doesn't exist</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div> -->

    <!-- <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Quantum Leap</mat-card-title>
        <mat-card-content>
          <div *ngIf="quantumLeapStatus; else noComet" class="alert alert-success" role="alert">
            <p>version : {{quantumLeapStatus}}</p>
          </div>
          <ng-template #noComet>
            <div class="alert alert-danger" role="alert">
             <p>Service Error or doesn't exist</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Grafana Dashboard</mat-card-title>
        <mat-card-content>
          <div  class="alert alert-success" role="alert">
            <a target="_blank" href="http://localhost:3003/d/bUvI3CqZz/cattlchain-demo?orgId=1">Grafana Client : http://localhost:3003</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>CrateDB</mat-card-title>
        <mat-card-content>
          <div  class="alert alert-success" role="alert">
            <a target="_blank" href="http://localhost:4200/#!/">CrateDB Client : http://localhost:4200</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div> -->

    <!-- <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Sawtooth Validator</mat-card-title>
        <mat-card-content>
          <div  class="alert alert-success" role="alert">
            <p>Validator Connection : tcp://localhost:4004</p>
          </div>
          <ng-template #noComet>
            <div class="alert alert-danger" role="alert">
             <p>Service Error or doesn't exist</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Sawtooth REST API Specification</mat-card-title>
        <mat-card-content>
          <div class="alert alert-success" role="alert">
            <a target="_blank" href="http://localhost:8029">Swagger Client : http://localhost:8029</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Sawtooth Blockchain Explorer</mat-card-title>
        <mat-card-content>
          <div *ngIf="sawtoothExplorerStatus; else noExplorer" class="alert alert-success" role="alert">
            <p>status : {{sawtoothExplorerStatus}}</p>
            <p><a target="_blank" href="http://localhost:4100">http://localhost:4100</a> </p>
          </div>
          <ng-template #noExplorer>
            <div class="alert alert-danger" role="alert">
             <p>Service Error or doesn't exist</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Cattlechain Protos</mat-card-title>
        <mat-card-content>
          <div class="alert alert-info" role="alert">
            <h3>Cattlechain Protobufs</h3> 
           <a target="_blank" href="https://github.com/singhhp1069/FIWARE_Cattlechain_Protos">https://github.com/singhhp1069/FIWARE_Cattlechain_Protos</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>CattleChain Transaction Processor (Smart Contract)</mat-card-title>
        <mat-card-content>
          <div class="alert alert-info" role="alert">
            <h3>Attached to Validator</h3> 
           <a target="_blank" href="https://github.com/singhhp1069/FIWARE_Cattlechain_Sawtooth_tp">https://github.com/singhhp1069/FIWARE_Cattlechain_Sawtooth_tp</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Cattlechain Transaction Processor Client</mat-card-title>
        <mat-card-content>
          <div *ngIf="tpClientStatus; else noTpClient" class="alert alert-success" role="alert">
            <p>status : {{tpClientStatus}}</p>
          </div>
          <ng-template #noTpClient>
            <div class="alert alert-danger" role="alert">
             <p>Service Error or doesn't exist</p>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-divider></mat-divider>
      <mat-card>
        <mat-card-title>Ledger Sync Service</mat-card-title>
        <mat-card-content>
          <div class="alert alert-success" role="alert">
            <p>Status : working</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>  -->
  </div>
</div>
