<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Device ID</mat-label>
                <input matInput [(ngModel)]="device" placeholder="device">
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="getData()">Get Data</button>
              <button mat-raised-button color="warning" (click)="ngOnInit()">Reset</button>
        </div>
    </div>
    <div *ngIf="show" class="row">
        <div class="col-8">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
        <div class="col-4">
            <h3>Blockchain Proofs</h3>
            <mat-list>
                <div *ngFor="let proof of proofSet">
                    <p>timestamp: {{proof.timestamp}}</p>
                    <mat-list-item style="font-size: 10px;" ><a target="_blank" href="{{proof.link}}">{{proof.batchId}}</a></mat-list-item>
                </div>
              </mat-list>
        </div>
    </div>
    <div *ngIf="show" class="row">
        <div class="col-8">
            <mat-list>
                <div *ngFor="let proof of mlStatus">
                    <p>timestamp: {{proof.timestamp}}</p>
                    <mat-list-item *ngIf="proof.welfareCondition == 'Adequate'" style="font-size: 14px; color:blue;"> <p> temprature : {{proof.temprature}}, activity: {{proof.activity}}, rest_time: {{proof.rest_time}}, welfareCondition: {{proof.welfareCondition}} </p></mat-list-item>
                    <mat-list-item *ngIf="proof.welfareCondition == 'Issue'" style="font-size: 14px; color:red;"> <p> temprature : {{proof.temprature}}, activity: {{proof.activity}}, rest_time: {{proof.rest_time}}, welfareCondition: {{proof.welfareCondition}} </p></mat-list-item>
                </div>
              </mat-list>

        </div>
    </div>
</div>